body, ul, li {
  margin: 0;
  border-width: 0px;
  font-family: Open sans, sans-serif;
  background: black;
  color: silver;
  list-style-type: none;
}

.screen-container {
  font-family: "PT Mono", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  position: fixed;
  bottom: calc(50% + 120px);
  left: 50%;
  width: 640px;
  height: 480px;
  padding: 1em;
  transform: translate(-50%, 50%);
  border: 1px solid silver;
}

.screen {
  overflow: hidden;
  font-size: 16px;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}

.key-wrapper {
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin: -70px -333px;
}

.row {
  text-align: center;
  margin: 1px;
}

.key {
  font-family: Orbitron, sans-serif;
  margin: 3px 1px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  color: grey;
  display: inline-block;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}
.k32 {
  width: 346px;
  border: 1px solid grey;
}
.active {
  border: 1px solid white;
  color: white;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  transition: 0s;
}

a {
  color: silver;
}

.article-selector-container{
  font-family: Orbitron, sans-serif;
  overflow: hidden;
  content: '';
  font-size: 12px;
  line-height: 1.6em;
  border-bottom: 1px solid #555;
  text-align: center;
}

.article-prev{
  margin-left: 1em;
  float: left;
}
.article-next{
  margin-right: 1em;
  float: right;
}

.body-container{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 4em;
  margin-bottom: 4em;
  font-size: 12px;
  line-height: 1.6em;
  border: 1px solid #555;
}

.body-articlename{
  text-align: right;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  font-size: 24px;
  font-family: Orbitron, sans-serif;
}

.body-content-container{
  margin-top: 2em;
}

.body-sectionheader {
  content: '';
  margin-left: 0.5em;
  margin-top: 2em;
  margin-right: 2em;
}
.body-sectionheader img {
  padding: 8px;
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0;
  border: 1px solid silver;
}

.body-paragraph p {
  margin-left: 1.2em;
  margin-right: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: silver;
  font-family: Open sans, sans-serif;
  font-size: 18px;
}

.body-paragraph a {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Open sans, sans-serif;
  font-size: 24px;
}

.body-paragraph p a {
  margin: 0;
  font-family: Open sans, sans-serif;
  font-size: 12px;
}
.body-paragraph img {
  padding: 8px;
  display: block;
  height: auto;
  max-width: 50%;
  margin: 0 auto;
  border: 1px solid silver;
}

.body-paragraph span {
  padding: 8px;
  display: block;
  height: auto;
  max-width: 50%;
  margin: 0 auto;
  border-left: 1px solid silver;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
}

@media only screen and (max-width: 1400px) {
  .body-container{
    margin-left: 15%;
    margin-right: 15%;
  }
  .body-paragraph img {
    max-width: 60%;
  }
  .body-paragraph span {
    max-width: 60%;
  }
}

@media only screen and (max-width: 1200px) {
  .body-container{
    margin-left: 11%;
    margin-right: 11%;
  }
  .body-paragraph img {
    max-width: 70%;
  }
  .body-paragraph span {
    max-width: 70%;
  }
}

@media only screen and (max-width: 1000px) {
  .body-container{
    margin-left: 7%;
    margin-right: 7%;
  }
  .body-paragraph img {
    max-width: 80%;
  }
  .body-paragraph span {
    max-width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .body-container{
    margin-left: 12px;
    margin-right: 12px;
  }
  .body-paragraph img {
    max-width: 90%;
    margin-left: 0 auto;
  }
  .body-paragraph span {
    max-width: 90%;
    margin-left: 0 auto;
  }
}

.header {
  font-family: Orbitron, sans-serif;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  font-family: Orbitron, sans-serif;
}

.header-content {
  display: none;
  position: absolute;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
  background-color: #000;
  min-width: 16.5em;
}

.header-content span {
  text-align: center;
  color: silver;
  padding: 4px 12px;
  text-decoration: none;
  display: block;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

/* Links inside the header */
.header-content a {
  color: silver;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}

/* Change color of header links on hover */
.header-content a:hover {
  background-color: #222;
}

.header:hover .header-content {
  display: block;
}

.cutCorner {
    position: relative;
    background-color: black;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    display: inline-block;
    padding: 0.5em;
    padding-right: 2em;
    min-height: 1em;
    max-height: 1em;
    min-width: 14em;
}

.cutCorner span {
    display: block;
    color: silver;
}

.cutCorner:before {
    position: absolute;
    right:calc(-2.5em - 0px);
    bottom: -1px;
    content: '';
    border-bottom: 2.5em solid transparent;
    border-left: 2.5em solid silver;
}

.cutCorner:after {
    position:absolute;
    right:calc(-2.5em + 1px);
    bottom: 0px;
    content:'';
    border-bottom: 2.5em solid transparent;
    border-left: 2.5em solid black;

}
.diy-slideshow{
  margin: 0;
  padding: 0;
  height: 0;
  position: relative;
  display: block;
  overflow: hidden;
}
figure{
  position: absolute;
  opacity: 0;
  margin: 0;
  padding: 0;
  height: 0;
  transition: 1s opacity;
}
figure img{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%
}
figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .prev{
  font-family: Orbitron, sans-serif;
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .9);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  -moz-user-select: none;
  border: 1px solid silver;
}
.next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}
.next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
